.container4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.a-n-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 45%;
  gap: 20px !important;
}

.about-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100% !important;
}

.a-n-con nav {
  display: flex;
  justify-content: flex-start;
  width: auto;
  gap: 30px;
}

.a-n-con nav a {
  text-decoration: none;
  color: black;
}

.a-n-con nav a:hover {
  text-decoration: underline;
  color: black;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
  gap: 5px;
}

.about-container hr {
  width: 100%;
}

.about-container h3 {
  font-weight: 200;
  font-size: small;
}

.about-container p {
  font-size: smaller;
  width: 80%;
}

.about-container h2 {
  font-weight: 400;
}

.pledge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30vh;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 15px;
  background-image: url("./images/background.jpeg");
  background-size: cover;
  background-position-y: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.btn {
  background-color: transparent !important;
  color: black !important;
  padding: 0 !important;
  border: none !important;
  margin-top: -3px !important;
}

.btn:hover {
  text-decoration: underline !important;
}

.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-group {
  gap: 30px;
}

.dropdown-menu {
  background-color: white !important;
  border: 2px solid black !important;
  margin-top: 10px;
}

.dropdown-item {
  top: 10px !important;
  color: black !important;
  padding: 0 !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
}

.dropdown-menu.show {
  inset: 5px auto auto -1.5vw !important;
}

.home-burger button {
  color: white !important;
}

@media screen and (max-width: 768px) {
  .container5 {
    margin-top: 12vh;
  }

  .about-nav-container {
    position: fixed;
    background-color: white !important;
    top: 0;
    padding-top: 2.5vh !important;
    padding-bottom: 2vh !important;
    z-index: 100;
  }

  .sec {
    color: #000 !important;
  }

  .a-n-con {
    min-width: 100%;
  }

  .a-n-con nav {
    display: none;
    justify-content: space-between;
  }

  .about-container {
    padding-top: 0 !important;
    margin-top: 12vh;
  }

  .dropdown-menu.show {
    inset: 0 auto auto 5vw !important;
  }

  .c-info-con {
    flex-direction: column;
    align-items: center !important;
    margin: 0 !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .c-con {
    text-align: center;
    max-width: 60% !important;
  }

  .btn {
    color: black !important;
    font-size: small !important;
    font-weight: 400 !important;
  }
}
