.conc {
    display: flex;
    gap: 20px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
}

.cart-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-dc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 15px;
    padding-top: 5px;
    margin-left: 20px;
}

.cart {
  display: flex;
  justify-content: space-between;
  background-color: #E0D8B0;
  padding: 20px;
  border-radius: 5px;
}

.cart-img {
  width: 100px;
}

.delete-cart-btn {
    display: flex;
    border: none;
    background-color: transparent;
    text-align: center;
    gap: 10px;
}

.delete-cart-btn img {
    width: 25px;
}

.cart-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    height: min-content;
    width: 25%;
    background-color: #82A284;
    border-radius: 5px;
    padding: 20px;
}

.total {
    display: flex;
    justify-content: space-between;
}

.checkout-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.checkout {
    text-decoration: none;
    color: black !important;
    border: 2px solid black !important;
    background-color: white !important;
    padding: 10px;
}

.checkout:hover {
    color: black;
}

@media screen and (max-width: 600px) {
    .total {
        flex-direction: column;
        align-items: center;
      }
    
      .total strong {
        white-space: nowrap;
      }

      .cart {
        flex-direction: column;
        padding: 10px;
      }
    
      .cart-container {
        width: 50%;
        margin-right: 2vw;
      }
    
      .conc {
        gap: 0 !important;
      }
    
      .cart-summary {
        width: 48% !important;
        padding: 10px !important;
    }

    .cart-details {
        flex-direction: column;
        align-items: center;
    }

    .cart-dc {
        text-align: center;
        margin-left: 10px !important;
        margin-bottom: 5px;
    }

    .cart-img {
        width: 150px !important;
    }

    .cart-settings {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .checkout {
        white-space: nowrap;
    }

    .delete-cart-btn {
        align-items: center;
    }
}
