@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: small;
  font-family: 'Roboto Slab', serif;
}

#container1 {
  display: flex;
  width: 100%;
  height: 65vh;
}

.mobile-header {
  display: none;
}

.header-con {
  width: 60%;
  height: 100%;
  background-image: url('./images/wallpaper.webp');
  background-repeat: no-repeat;
  background-size: 110% 110%;
  background-position-x: -50px;
}

.iactive {
  animation-name: shift;
  animation-duration: 3s;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
}

@keyframes shift {
  from {
    background-position-x: 20%;
  }

  to {
    background-position-x: 0;
  }
}

.inactive {
  animation-name: shift-out;
  animation-duration: 3s;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
}

@keyframes shift-out {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 20%;
  }
}

.nav-active {
  animation-name: shift-nav;
  animation-duration: 3s;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
}

@keyframes shift-nav {
  from {
    margin-left: 5%;
  }

  to {
    margin-left: 10%;
  }
}

.nav-inactive {
  animation-name: shift-nav-out;
  animation-duration: 3s;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
}

@keyframes shift-nav-out {
  from {
    margin-left: 10%;
  }

  to {
    margin-left: 5%;
  }
}

.nav-con {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 105px;
  padding-left: 100px;
  color: #fff;
  margin-left: 5vw;
}

.nav-con h1 {
  margin-right: 15%;
}

.nav-con nav {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 80%;
}

.nav-con nav a {
  font-size: medium;
  text-decoration: none;
  color: #fff;
}

.nav-con nav a:hover {
  border-bottom: 2px solid #fff;
}

.carousel-con {
  max-width: 40% !important;
  min-width: 40% !important;
}

.carousel-item {
  text-decoration: none;
  width: 100% !important;
  min-height: 65vh !important;
}

#carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  height: 65vh !important;
  width: 100% !important;
}

.shop-btn h3 {
  color: black;
}

#carousel-content h3 {
  color: white;
}

.carousel-btn-con {
  width: auto !important;
  gap: 20px;
}

.carousel-control-next,
.carousel-control-prev {
  top: auto !important;
  background-color: black;
  opacity: 1 !important;
  padding: 20px !important;
}

.carousel-control-next {
  left: 70px !important;
}

.shop-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none !important;
}

.shop-btn:hover {
  transform: scale(1.01);
}

.shop-btn img {
  height: 18px;
}

.d-con {
  font-size: smaller;
  padding: 15%;
  padding-top: 23%;
}

.d-con h1 {
  margin-bottom: 20px;
}

.d-con p {
  margin-bottom: 15px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 1.4rem !important;
}

#container2 {
  display: flex;
  height: 35vh;
}

.c-2-a {
  width: 30%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-2-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  font-size: smaller;
  width: 40%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.c-2-b:hover {
  color: black;
}

.c-2-b h2 {
  margin-bottom: 10px;
  font-size: large;
  word-spacing: 10px;
  font-weight: bold;
}

.c-2-c {
  width: 30%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  body {
    font-size: smaller;
  }

  .h-active {
    animation-name: h-rot;
    animation-duration: 0.5s;
    animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes h-rot {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(90deg);
    }
  }

  .h-inactive {
    animation-name: h-rott;
    animation-duration: 0.5s;
    animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes h-rott {
    from {
      transform: rotate(90deg);
    }

    to {
      transform: rotate(0deg);
    }
  }

  .hamburger {
    width: 25px;
    margin-bottom: 1.5vh;
  }

  @keyframes shift-nav {
    from {
      margin-left: 0;
    }

    to {
      margin-left: 2%;
    }
  }

  @keyframes shift-nav-out {
    from {
      margin-left: 2%;
    }

    to {
      margin-left: 0;
    }
  }

  #container1 {
    flex-direction: column;
    height: auto;
  }

  .header-con {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav-con {
    justify-content: flex-start;
    align-items: center;
    gap: 15vw;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    min-height: 30vh;
    max-height: 30vh;
  }

  .nav-con nav {
    display: none;
  }

  .mobile-header {
    display: flex;
    z-index: 2 !important;
  }

  .szh-menu-button {
    background-color: transparent;
    border: none !important;
    color: white !important;
    font-size: xx-large;
    height: min-content;
  }

  .sec button {
    color: black !important;
  }

  .burger {
    color: white !important;
  }

  .carousel-con {
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .carousel-control-next {
    left: 54px !important;
  }

  #container2 {
    flex-direction: column;
    height: auto !important;
  }

  .c-2-a {
    width: 100%;
    min-height: 50vh;
  }

  .c-2-b {
    width: 100%;
    height: 100%;
    padding: 30px;
  }

  .c-2-c {
    width: 100%;
    min-height: 50vh;
  }

  .szh-menu {
    margin-top: 5px !important;
    padding: 15px;
  }

  .szh-menu li {
    margin-bottom: 10px;
  }

  .szh-menu li a {
    text-decoration: none;
    color: black;
  }

  .szh-menu li a:hover {
    text-decoration: underline;
  }

  .carousel {
    max-height: 60vh !important;
  }

  #carousel-content {
    max-height: 60vh !important;
  }

  .d-con {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    max-height: 60vh !important;
  }
}

@media screen and (max-width: 600px) {
  .carousel {
    max-height: 48vh !important;
  }

  #carousel-content {
    max-height: 48vh !important;
  }

  .d-con {
    max-height: 48vh !important;
  }
}

@media screen and (max-width: 390px) {
  .carousel {
    max-height: 55vh !important;
  }

  #carousel-content {
    max-height: 55vh !important;
  }

  .d-con {
    max-height: 55vh !important;
  }
}

@media screen and (max-width: 350px) {
  .carousel {
    max-height: 70vh !important;
  }

  #carousel-content {
    max-height: 70vh !important;
  }

  .d-con {
    max-height: 70vh !important;
  }

  .carousel-item {
    max-height: 70vh !important;
  }

  .carousel-control-next,
  .carousel-control-prev {
    padding: 5px !important;
  }

  .carousel-control-next {
    left: 48px !important;
  }
}
