#container3 {
  min-width: 82%;
  max-width: 82%;
  position: absolute;
  right: 2.5%;
}

#container3 h3 {
  margin-bottom: 10px;
}

#container3 h2 {
  margin-bottom: 10px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 10px;
  row-gap: 20px;
}

.grid-item {
  text-decoration: none;
  color: black;
}

.grid-item:hover {
  color: black;
}

#grid-content img {
  width: 100%;
  min-height: 45vh;
  max-height: 45vh;
  margin-bottom: 10px;
  border-radius: 5px;
}

#cat-img img {
  width: 100%;
  min-height: 33vh !important;
  max-height: 33vh !important;
  margin-bottom: 10px;
  border-radius: 5px;
}

.price {
  color: grey !important;
}

.s-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}

@media screen and (max-width: 1335px) {
  #container3 {
    min-width: 75vw;
    max-width: 75vw;
  }

  .rating-info {
    flex-direction: column !important;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px !important;
    gap: 2px !important;
    text-align: center !important;
  }

  .go4197845992 {
    white-space: nowrap;
  }
}
