#container3 {
    min-width: 85%;
    max-width: 85%;
    position: absolute;
    right: 10px;
}

#container3 h3 {
  margin-bottom: 10px;
}

#container3 h2 {
  margin-bottom: 10px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 10px;
  row-gap: 20px;
}

.grid-item {
    text-decoration: none;
    color: black;
}

.grid-item:hover {
    color: black;
}

#grid-content img {
    width: 100%;
    min-height: 40vh;
    max-height: 40vh;
    margin-bottom: 10px;
}

#cat-img img {
  width: 100%;
  min-height: 35vh !important;
  max-height: 35vh !important;
  margin-bottom: 10px;
}

.price {
  color: grey !important;
}