#shop-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.cart-btn {
  text-decoration: none;
}

.cart-btn img {
    width: 40px;
    height: 40px;
}

.s-b-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.s-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 70%;
  gap: 20px;
}

.s-nav a {
  text-decoration: none;
  color: black !important;
}

.s-nav a:hover {
  text-decoration: underline;
  color: black !important;
}

.home-btn a {
  text-decoration: none;
}

.home-btn a h2 {
  color: rgb(30, 28, 28);
  border: 3px solid rgb(30, 28, 28);
  padding: 10px;
}

.shop-navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 20%;
  padding-left: 2%;
  line-height: 6vh;
}

.shop-navigation nav {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.shop-navigation a {
  text-decoration: none;
  color: black;
}

.shop-navigation a:hover {
  text-decoration: underline;
}

.shop-navigation a strong {
 font-size: large;
}

.cart-counter {
  width: 25px;
  height: 20px;
  border-radius: 50%;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: smaller;
}

@media screen and (max-width: 768px) {
  .shop-navigation {
    display: none;
  } 

  #shop-container nav {
    display: none;
  }

  .s-b-con {
    width: 100%;
  }

  .btn {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    font-size: small;
    font-weight: smaller;
  }

  .btn:focus {
    background-color: transparent;
    border: none !important;
  }

  .dropdown-menu.show {
    display: flex;
    flex-direction: column !important;
    padding: 10px;
    background-color: rgb(177, 177, 177) !important;
    gap: 5px;
  }

  .dropdown-menu.show a {
    text-decoration: none;
    color: black;
  }

  #container3 {
    min-width: 100%;
    max-width: 100%;
    position: relative !important;
    right: 0 !important;
    padding: 10px;
  }

  #grid {
    grid-template-columns: repeat(1, 100%);
  }
}